@model DaBank.Models.ViewModel


@{
    var customers = Model.Customers;

    <div style="margin-top:20px;">

        @for (int i = 0; i < customers.Count; i++)
        {
            <ul>
                <li style="list-style:none;"><b>@customers[i].Name</b></li>
                <li style="padding-bottom:10px; list-style:none;">Kundnummer: @customers[i].CustomerNumber</li>
                @foreach (var item in customers[i].Account)
                {

                    <li>Kontonummer: @item.AccountNumber</li>
                    <li>Saldo: @item.Moneyz kr</li>
                    <br />
                    //test

                }

            </ul>
        }


    </div>
}